html {
    position: relative; /*для футера*/
    min-height: 100%; /*для футера*/
}

body {
    margin-bottom: 145px; /*для футера*/;
    color: black;
    background-color: white;
    font-family: Arial, sans-serif;
}

.form-control {
    margin-bottom: 10px;
}

.table > thead > tr > th {
    vertical-align: middle;
}

.container-alert {
    padding: 0px;
}

.alert {
    width: 100%;
    margin: 0px;
    text-align: center;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar
/*****************************/

    /* Высота меню */
.navbar {
    min-height: 80px;
}
.navbar-brand {
    padding: 0 15px;
    height: 70px;
    line-height: 70px;
}
.navbar-toggle {
    /* (70px - высота кнопки 34px) / 2 = 18px */
    margin-top: 18px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (70px - line-height 27px) / 2 = 21.5px */
        padding-top: 21.5px;
        padding-bottom: 21.5px;
        line-height: 27px;
    }
}

.navbar-nav > li > p {
    /* (70px - line-height 27px) / 2 = 21.5px */
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 27px;
}

.navbar-header > p {
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 27px;
}

/* */
.navbar-brand {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* 70px - padding 15px*2 = 40px*/
.navbar-brand > img {
    height: 40px;
}
/***********************************/

/* Аннимация гамбургера */
.navbar-toggle {
    border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
    background: transparent !important;
}
.navbar-toggle .icon-bar {
    width: 22px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.navbar-toggle .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggle .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
/****************************/


#footer {
    position: absolute;
    bottom: 0px;
    height: 145px;
    width: 100%;
    padding: 20px;
    background: #252525;
    /*background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);*/
    color: white;
}

#info-jumbotron {
    margin: 0px;
    color: white;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 1.0);
}

.img-maket {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    background: white;
    border: 1px solid #cacaca;
    border-radius: 3px;
}

.production-caption {
    margin-top: 20px;
    margin-bottom: 20px;
}

.caption-table{
    margin-bottom: 20px;
}

.caption-table td {
    padding: 5px;
}

.row-clicable {
    cursor: pointer;
}

.text-status-1 {
    color: gray;
}

.text-status-2 {
    color: green;
}

.text-status-3 {
    color: dodgerblue;
}

.text-status-4 {
    color: mediumblue;
}

.text-status-5 {
    color: red;
}

.carousel .item {
    background: white;
    text-align: center;
}

.carousel {
    margin-top: 0px;
    margin-bottom: 10px;
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
}

.carousel-control.left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
}

.carousel-inner > .item > img {
    width: 100%;
}

.carousel-buttons  {
    margin-bottom: 20px;
    padding: 0px;
}

.carousel-buttons img {
    border: 1px solid #cacaca;
    border-radius: 3px;
    padding: 5px;
}

.carousel-buttons-right {
    float: right;
    padding-left: 20px;
}

.carousel-buttons-right img {
    padding: 7px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-buttons-top img {
    height: 100px;
}

.carousel-buttons img:hover {
    box-shadow: 2px 2px 6px #cacaca;
    border: thin solid #b0b0b0;
}

.production-history {
    margin-top: 30px;
    margin-bottom: 30px;
}

.table-container {
    /*border: 1px solid black;*/ /*#00557F*/

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.table-container h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-container .param-table {
    margin: 0px;
}

.table-container .data-table {
    margin: 0px;
}

.table-striped > tbody > tr:nth-child(2n+1){
    background-color: /*#f1f4ff;*/ #f8f8f8;
}

.table-container .data-table thead th {
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));*/
    /*background: -moz-linear-gradient(center top, #006699 5%, #00557F 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');*/
    background-color: grey;/*#006699*/
    color: white;
    border-left: 1px solid black;/*#0070A8*/
}

.table-container .data-table tbody td {
    /*color: #00557F;*/
    border-left: 1px solid #E1EEF4;
}

/*.datagrid table tfoot td div {
    border-top: 1px solid #00557F;
    background: #E1EEf4;
}*/

.table-container .data-table tfoot td ul {
    margin: 0;
    padding: 0;
}

.table-container .pagination{
    float: right;
}


.table-container .pagination li > a {
    color: black;
}
/*
.table-container .pagination > .active > span {
    background-color: #00557F;
}
*/

.form-group{
    margin-bottom: 0px;
}

.calcbtn-group{
    margin: 20px;
}

/* checkbox */
.btn span.glyphicon {
    opacity: 0;
}
.btn.active span.glyphicon {
    opacity: 1;
}

